# Ignore virtual environment files
venv/

# Ignore Python cache files
__pycache__/

# Ignore tests
tests/

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore ctags
.tags

# Ignore local development settings and pyc files
*.pyc
*.pyo

# Ignore vscode
.vscode/

# Ignore .ini file (contains personal info)
*.ini

# Ignore .txt, default will be initialized
*.txt

clfill/config/
#ignore the whole config folder actually
